body{
    color: #20303c;
    width: 1030px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    
    letter-spacing: .4px;
    font-family: HelveticaNeueW01-45Ligh,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
	margin-top:70px;
	
}
ul{
font-size: 12px;

}
a{
text-decoration: none;
}
nav ul li{
display:inline-block  ;
list-style:none;
padding-right:24px;
float: left;

}
#home{
 color: #BDBDBD;
 }
 nav ul li a:hover{
 color: #BDBDBD;
 }
 #logo a{
 color: inherit;
 }
 #logo{
 float: left;
 border: 4px solid black;
 
 font-weight: bold;
 letter-spacing: 0.3em;
 font-size: 30px;
 padding:11px 12px 11px 10px;
 
 margin-left: 80px;
 position: relative;
 bottom: 46px;
 }
 #iconinstagram{
 float: right;
 position: relative;
 left:27px;
 
 }
 #icontwitter{
 float: right;
 position: relative;
 right:36px;
 
 }
 #facebookico{
 float: right;
 position: relative;
 right:92px;
 }
 .login{
 float: right;
 position: relative;
 right:192px;
 bottom: 13px;
 }
 #logimg{
 position: relative;
 left:58px;
 float: left;
 }
 #slid{
 position: relative;
 left:43px;
 bottom: 69px;
 }
 .main-content{
 margin-top:-26px;
 
 }
 .main-content img{
 
 position: relative;
 left:43px;
 }
 .main-content ul li{
 list-style:none;
 display:inline-block  ;
 padding-right:20px;
 position: relative;
 left:33px;
 bottom: 28px;
 }
 .main-content h2 {
 margin-top: -18px;
 font-size: 29px;
 margin-left: 50px;
 font-weight:bold ;
 }
 
 .main-content h2 a{
 color: inherit;
 }
 .main-content h2 a:hover{
 color: rgba(212,156,89,1);
 }
 .section{
 border:1px solid #aaa; ;
 background-image:url("images/Miracle.jpg");
box-sizing: inherit;
width:939px;
    background-repeat: no-repeat;
	position: relative;
 left:43px;
 }
 .section2{
 border:1px solid #aaa; ;
 background-image:url("images/Italian-inspiration.jpg");
box-sizing: inherit;
width:939px;
 background-repeat: no-repeat;
 position: relative;
 left:43px;
 margin-top:33px;
 
 }
 .section3{
 border:1px solid #aaa;
 background-image:url("images/Plating-made.jpg");
box-sizing: inherit;
width:939px;
 background-repeat: no-repeat;
 position: relative;
 left:43px;
 margin-top:33px;
 
 }
 header{
 margin-left:468px;
 margin-top:42px;
 }
 .admin{
 position: relative;
 left:46px;
 bottom: 15px;
 }
 .main-content p{
 margin-left: 518px;
 font-size: 16px;
 color
 }
 .main-content hr{
 width: 373px;
 margin-left:516px;
 margin-top: 32px;
 }
  .footer{
 margin-left: 518px;
 margin-top: 20px;
 padding-bottom: 30px;
 font-size: 12px;
 color: inherit;
 }
  .footer a{
 color: inherit;
 margin-left: 10px;
 }
 .archive-pagination a{
 background-color:  black ;
 color:  white ;
 font: normal normal normal 15px/1.4em 'open sans',sans-serif;
 position:  relative ;
 top: 74px;
 left: 400px;
 padding:  11px 75px ;
 }
 .archive-pagination  a:hover{
 background-color:  white ;
 color:  black ;
 border: 5px solid black ;
 }
 .about-me{
 margin-top:  213px ;
 }
 .about-me a{
 color: rgba(155,155,155,1);
 float: left ;
 position:  relative ;
 top: 90px;
 right: 184px;
 }
 .about-me img{
 margin-right:  59px ;
 float: left ;
 }
 .about-me h5{
 font: normal normal bold 22px/1.4em 'open sans',sans-serif;
    color: #000000;
	float: left ;
	position:  relative ;
 bottom: 37px;
 }
 .mycook img{
 float: left ;
 margin-left: -48px ;
 margin-right: 24px ;
 
 }
 .mycook  h5{
 font: normal normal bold 22px/1.4em 'open sans',sans-serif;
    color: #000000;
 float: left ;
 position:  relative ;
 left: 45px ;
 bottom: 37px;
 
 }
 .mycook  {
 
 }
 .cook{
 float: left ;
 color: rgba(155,155,155,1);
 position:  relative ;
 left: 45px ;
 bottom: 20px;
 }

 form h5{
 font: normal normal bold 17px/1.4em 'open sans',sans-serif;
    color: #000000;
	letter-spacing: 0.0772727em;
	font-size: 22px;
 float: left ;
 margin-top: 53px;
 
 }
 form{
 float: left ;
 position:  relative ;
 left: 45px ;
 
 }
 .inputname{
 margin-top: 53px;
 font: normal normal normal 15px/1.4em 'open sans',sans-serif;
 padding: 10px 359px 6px 21px;
 position:  relative ;
 left: 100px ;
 
 }
 
 
 .SubscribeNow{
 margin-top: 10px;
 font: normal normal normal 15px/1.4em 'open sans',sans-serif;
 padding: 10px 359px 6px 21px;
 background-color:  black ;
 color:  white ;
 position:  relative ;
 left: 100px ;
 }
 footer p{
 float: left ;
 color: #aaa ;
 margin-top: 50px;
 margin-left: 385px;
 }
 footer img{
 float: left ;
 margin-right: 20px;
 position: relative;
 right:780px;
 top:148px;
 }
 